*{
    box-sizing:border-box;
}


body{

    margin:0;

    min-height:100vh;

    font-family:"Segoe UI",Arial,sans-serif;

    background:
    linear-gradient(135deg,#ffffff,#e6f7f8,#dceff3);

    color:#005f69;

}



header{

    text-align:center;

    padding:35px 20px;

}



header h1{

    margin:0;

    font-size:45px;

    letter-spacing:5px;

    color:#007985;

}



header p{

    margin-top:10px;

    font-size:20px;

    color:#555;

}



.container{

    padding:20px;

}



.glass{

    background:
    rgba(255,255,255,0.45);

    backdrop-filter:
    blur(18px);

    -webkit-backdrop-filter:
    blur(18px);

    border:
    1px solid rgba(255,255,255,0.6);

    box-shadow:
    0 15px 35px rgba(0,0,0,0.12);

    border-radius:28px;

}



.category{

    max-width:420px;

    margin:25px auto;

    padding:45px 20px;

    text-align:center;

    font-size:22px;

    font-weight:600;

    color:#006d78;

    cursor:pointer;

    transition:.35s;

}



.category:hover{

    transform:translateY(-8px);

}



button{

    background:#007985;

    color:white;

    border:none;

    padding:12px 25px;

    border-radius:30px;

    font-size:16px;

    cursor:pointer;

    margin-bottom:25px;

}



.grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(170px,1fr));

    gap:20px;

}



.product{

    padding:15px;

}



.product img{

    width:100%;

    height:260px;

    object-fit:contain;

    border-radius:20px;

    cursor:pointer;

    transition:.3s;

}



.product img:hover{

    transform:scale(1.05);

}



#largeImage{

    display:block;

    max-width:95%;

    max-height:80vh;

    margin:auto;

    border-radius:25px;

}
.brand-header {
    text-align: center;
    padding: 20px 10px;
    margin-bottom: 20px;
}

.logo {
    width: 420px;
    max-width: 90%;
    height: auto;
}

.brand-header p {
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #007c83;
    font-weight: 500;
}


.hidden{

    display:none;

}
